<header class="page-header">
  <h1>About Us</h1>
</header>

<div>
<h3>Welcome to THE JUNGLE</h3>
We here in the jungle have collected only the worst furniture and items found in alleyways and on street corners to modify cheaply and sell at insane mark-up - just like everyone on Depop and Poshmark!
</div>